:root {
  --width: 32;
  --border-spacing: 0.2rem;
  --body-background-color: black;
  --light-accent-color: grey;
  --inverse-accent-color: white;
  --cell-border-properties: inset 0 0 0 1px var(--light-accent-color);
  --cell-size: calc(
    ((100vw - var(--border-spacing)) / var(--width)) - var(--border-spacing)
  );
}
body {
  align-items: center;
  background-color: var(--body-background-color);
  font-size: 16px;
  margin: 0;
}
button {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
td {
  box-shadow: var(--cell-border-properties);
  border-radius: 50%;
  display: table-cell;
  padding: 0;
  height: var(--cell-size);
  width: var(--cell-size);
}
input {
  display: none;
}
label {
  background-color: var(--body-background-color);
  border: 1px solid var(--inverse-accent-color);
  border-radius: 50%;
  color: var(--inverse-accent-color);
  line-height: 32px;
  position: fixed;
  bottom: 1em;
  right: 1em;
  text-align: center;
  transition: all 0.2s ease-out;
  width: 32px;
}
label::after {
  position: relative;
  left: 1px;
}
input ~ label::after {
  content: "▶︎";
  top: 2px;
}
input:checked ~ label {
  background-color: var(--inverse-accent-color);
  color: var(--body-background-color);
}
input:checked ~ label::after {
  content: "❚❚";
  top: 1px;
  left: 0;
}
.space {
  border-spacing: var(--border-spacing);
  font-size: 1.25em;
}
.live {
  --box-shadow-inset-start: inset 0 0 0 0.33em var(--body-background-color);
  --box-shadow-inset-end: inset 0 0 0 0.1em var(--body-background-color);
  animation: grow 0.5s forwards;
}
@keyframes grow {
  0% {
    background-color: grey;
    box-shadow: var(--cell-border-properties), var(--box-shadow-inset-start);
  }
  20% {
    background-color: mediumorchid;
  }
  40% {
    background-color: steelblue;
  }
  60% {
    background-color: mediumseagreen;
  }
  80% {
    background-color: goldenrod;
  }
  100% {
    background-color: tomato;
    box-shadow: var(--cell-border-properties), var(--box-shadow-inset-end);
  }
}
